.gradle
.idea
/out
/build/
gradle-app.setting
.github/
.gradletasknamecache
!gradle-wrapper.jar
chromedriver*
.classpath
.project
.settings/
bin
.DS_Store
test-output/
target/
.idea/
*.setting
*.DS_store
*.classpath
.settings/
*.project
*.png
test-output/
build/
.DS_Store
test-order-details/
test-results/
img/
perfectoReports/
.git/
*.log
/logs/
/dashboard/
*.pdf
/bin
maven.iml
example_appium_mvn/
